<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.leapframework.org/schema/beans">
    <bean name="default" type="javax.sql.DataSource" class="leap.db.cp.PooledDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driverClassName}" />
        <property name="jdbcUrl"         value="${db.url}" />
        <property name="username"        value="${db.username}" />
        <property name="password"        value="${db.password}" />
        <property name="maxActive" 		 value="${db.maxActive}"/>
        <property name="maxWait" 		 value="${db.maxWait}"/>
        <property name="minIdle" 		 value="${db.minIdle}"/>
    </bean>
    
    <bean class="net.bingosoft.oss.ssoserver.SSOConfig" primary="true"/>
</beans>